<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=PT+Serif&family=Spectral:wght@200&display=swap" rel="stylesheet">
    <script src="/js/responsiveMenu.js"></script>
    <script src="/js/brand.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/card.css">
    <title>Techecommerce -  Home </title>
    <link rel="icon" type="image/x-icon" href="/assets/icons/favicon.jpg">
</head>
<body>
    <header>
        <div class="logo">
           <h1>Teachecommerce</h1>
          <div class="btn_menu"><i class="bi bi-list lg"></i></div>
        </div>
    
        <div class="menu">
          <ul class="navigation">
            <li><a href="/">Home</a></li>
            <li><a href="/">Acerca de Nosotros</a></li>
            <li><a href="/login">Log In</a></li>
            <li><a href="/signup">Registro</a></li>
            <li><a href="/carrito">Mi Carrito</a></li>
           </ul>
        </div>  
    </header>

    <section>
        <div class="banner">
            <img src="/assets/banners/banner-empresa.jpg" alt="Banner-Empresa">
        </div>
    </section>

    <section class="card-section">

        <div class="carrousel-container">
            <h1>Notebooks</h1>
            <div class="carrousel">
                <article>
                    <figure>
                        <img src="/assets/notebook-prueba.jpg" alt="producto">
                    </figure>
                    <h4>&#36;100.000</h4>
                    <p>IdeaPad 1i 14" - Platinum Grey</p>
                    <div class="button-article">
                        <button><i class="bi bi-cart2"></i></button>
                        <button><a href="/productDetail/1">Ver</a></button>
                    </div>
                </article>
                <article>
                    <figure>
                        <img src="/assets/notebook-prueba.jpg" alt="producto">
                    </figure>
                    <h4>&#36;100.000</h4>
                    <p>IdeaPad 1i 14" - Platinum Grey</p>
                    <div class="button-article">
                        <button><i class="bi bi-cart2"></i></button>
                        <button><a href="/productDetail/2">Ver</a></button>
                    </div>
                </article>

                <article>
                    <figure>
                        <img src="/assets/notebook-prueba.jpg" alt="producto">
                    </figure>
                    <h4>&#36;100.000</h4>
                    <p>IdeaPad 1i 14" - Platinum Grey</p>
                    <div class="button-article">
                        <button><i class="bi bi-cart2"></i></button>
                        <button><a href="/productDetail/3">Ver</a></button>
                    </div>
                </article>

                <article>
                    <figure>
                        <img src="/assets/notebook-prueba.jpg" alt="producto">
                    </figure>
                    <h4>&#36;100.000</h4>
                    <p>IdeaPad 1i 14" - Platinum Grey</p>
                    <div class="button-article">
                        <button><i class="bi bi-cart2"></i></button>
                        <button><a href="/productDetail/1">Ver</a></button>
                    </div>
                </article>
            </div>
        </div>

        <div class="carrousel-container">
            <h1>Celulares</h1>
            <div class="carrousel">
                <article>
                    <figure>
                        <img src="/assets/cel-img.jpg" alt="producto">
                    </figure>
                    <h4>&#36;100.000</h4>
                    <p>Notebook de prueba</p>
                    <div class="button-article">
                        <button><i class="bi bi-cart2"></i></button>
                        <button><a href="/productDetail/2">Ver</a></button>
                    </div>
                </article>
                
                <article>
                    <figure>
                        <img src="/assets/cel-img.jpg" alt="producto">
                    </figure>
                    <h4>&#36;100.000</h4>
                    <p>Notebook de prueba</p>
                    <div class="button-article">
                        <button><i class="bi bi-cart2"></i></button>
                        <button><a href="/productDetail/3">Ver</a></button>
                    </div>
                </article>

                <article>
                    <figure>
                        <img src="/assets/cel-img.jpg" alt="producto">
                    </figure>
                    <h4>&#36;100.000</h4>
                    <p>Notebook de prueba</p>
                    <div class="button-article">
                        <button><i class="bi bi-cart2"></i></button>
                        <button><a href="/productDetail/2">Ver</a></button>
                    </div>
                </article>

                <article>
                    <figure>
                        <img src="/assets/cel-img.jpg" alt="producto">
                    </figure>
                    <h4>&#36;100.000</h4>
                    <p>Notebook de prueba</p>
                    <div class="button-article">
                        <button><i class="bi bi-cart2"></i></button>
                        <button><a href="/productDetail/1">Ver</a></button>
                    </div>
                </article>
            </div>
        </div>

        <div class="carrousel-container">
            <h1 class="marcas-title">Nuestras Marcas</h1>
            <div class="carrousel" id="contenedor-marca">
              
              
            </div>
        </div>
    </section>

    

    <footer>
        <div class="whatsapp-button">
            <a href="" target="_blank">
                <img src="/assets/icons/whatsapp.png" alt="WhatsApp">
            </a>
        </div>
        <div class="footer-nav-container">
            <nav class="footer-menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/">Acerca de Nosotros</a></li>
                    <li><a href="/login">Log In</a></li>
                    <li><a href="/signup">Registro</a></li>
                    <li><a href="/carrito">Mi Carrito</a></li>
                </ul>
            </nav>
        </div>

        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d12691.287306184504!2d-59.138632750000006!3d-37.323047949999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1697199929989!5m2!1ses-419!2sar" width="600" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>       
        </div>

        <div class="copyright">
            <div class="div-copyright">
                <h4>Copyright 2023</h4>
            </div>
            <div class="img-logo">
                <h4>Seguinos</h4>
                <figure>
                    <a href="https://twitter.com/?lang=es"><img src="/assets/icons/x-logo.jpg" alt="x logo"></a>
                    <a href="https://www.instagram.com/"><img src="/assets/icons/icono-instagram.jpg" alt="Instagram logo"></a>
                    <a href="https://www.facebook.com/"><img src="/assets/icons/facebook-icon.png" alt="facebook logo"></a>
                </figure>
                <div>
                    <p>Comunicate con Nosotros</p>
                    <input type="text" placeholder="Email">
                    <textarea name="" id="" cols="30" rows="5" placeholder="Mensaje "></textarea>
                    <button>Enviar</button>
                </div>
            </div>
        </div>

        
    </footer>
    
    <div class="div-copyright-desktop">
        <h3>Copyright 2023</h3>
    </div>
        
</body>
</html>