.section-detail {   
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.section-detail h1 {
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid #F0F3F5;
    padding-bottom: 0.5rem;
    text-align: left; 
}

.section-detail figure {
    text-align: center; 
}

.section-detail img {
    max-width: 50%;
    height: auto;
}
.section-detail h3{
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid #F0F3F5;
}


.section-detail p {
    text-align: justify;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
